@font-face{
	font-family: 'Oswald';
  font-weight: 400;
	src: url('fonts/Oswald/Oswald-Regular.ttf');
	src: url('fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'Oxygen';
	font-weight: 400;
	src: url('fonts/Oxygen/Oxygen-Regular.ttf')
		src: url('fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
}
* {
    margin: 0 0;
    padding: 0 0;
    outline: 0;
    /* font-family: 'Oswald', Oswald-Regular !important; */
}
html, body{
  overflow-x: hidden;
  font-family: 'Oswald' !important;

}
body{
	/*padding-bottom: 70px;*/
}
  /*star header*/
.wrapper {
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}

.phone1 {
	color: #6F7B7B !important;
	border-left: none !important;
	padding-left: 1.8em;

}
.phone1 .span2{
	font-size: 1rem;
}
.span3{
	display: none;
}
.space{
  padding: 0.5rem 4rem;
}
p {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen'!important;
}
.logo{
  margin-top: 3%;
  margin-bottom: 3%;
}
.icon-circle{
  width: 80%;
  height: 100%;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 3px solid #4476B1;
}

nav{
  font-size: 1.5rem;
  padding:0px !important;
  background-color: #E1E7F3; 
  width: 100%;
  border-top: 1px solid  #6F7B7B;
  float: left;
  height: 64px;
}
.main_nav{
	margin-bottom: 0px !important;
}
nav .main_nav li{
	border-left: 1px solid  #6F7B7B; /*linea gris*/
	display: inline-block;
	height: 100%;
}
.main_nav > li:active{
	color: white;
	background-color: #4476B1;
}
.main_nav > li:active a{
	color: white;
}
.nav-item2{
	border-right: 1px solid  #6F7B7B /*linea gris*/
}
.nav-link {
     padding: .5rem 0.5rem !important; 
}
nav .main_nav li a{
  margin: 5px;
  color: #4476B1; /*azul*/
  color: #6F7B7B; /*gris*/
	
}
.fixed{
	position:fixed; width: 100%; top:0;z-index: 3;padding: 2px !important;
}
.fixed .main_nav{
	margin-bottom: 0px !important;
}
.contenido{margin-top:-1.2% !important;}

/* end nav */
/* start carousel */
.carrousel{
    position: relative;
}
.carousel{
  position: absolute;
  z-index: 1;
}
.slide{
  width: 100% !important;
  height:100% !important;
}
.cont-overlap{
		width: 100%;
		height: 100%;
		position: absolute;
		margin-top: -36.5%;
		z-index: 2;
}
.cont-overlap img{
    width:16%;
}
.info-button{
	background: #4476B1 !important;
	border: 4px solid #9AB1D1 !important;
	padding: 12px 20px !important;
}
/* end carrousel */
/* start services */
.services{
	background: #4476B1;
	padding-left: 15px !important;
	padding-right:15px !important;
}
.boxservices {
		margin-right: -15px;
}
.module:hover, .module>active{
	background: #1A237E
}
.boxservices img{
	width: 40%;
}
.boxservices h3{
	font-size: 1.6em !important;
}
/* ------- */
.cuadricula-gen{
	padding-top:10%;
	text-align: center;
}
.c1{
	border-right:1px solid white;
	border-bottom:1px solid white;
	margin-right:-15px;
	margin-top: 6%;
}
.c2{
	border-bottom:1px solid white;
	margin-left:-15px;
	margin-top: 6%;
}
.c3{
	border-right:1px solid white;
	margin-right:-15px;
	margin-bottom: 6%;
}
.c4{
	margin-bottom: 6%;
}
.more{
	background-color: #4476b1 !important;
}
/* end services */
/*  start whats*/
.whats{
	text-align: center;
	padding-top: 7%;
}
.whats-info{
	margin-left: 10%;
	margin-right: 10%;
}
.whats-info h2{
	font-size: 55px;
}
.whats-info p{
	font-size: 1.5em;
	line-height: 30px;
	letter-spacing: .03em;
	font-family: 'Oxygen'!important;
}

/* end whats */
/* start services2 */
.services2{
	/* height: 496px; */
}
.info-serv {
    background: url(../images/jpg/inventario2.jpg);
		background-repeat: no-repeat;
		background-size: 94% 100%;
		overflow: hidden;
    	background-position: center center;
		margin-bottom: 2%;
}
.info-serv2 {
    background: url(../images/jpg/medicos.jpg) ;
		overflow: hidden;
		background-size: cover;
    background-position: center center;
}
.info-serv3 {
    background: url(../images/jpg/enfermeras.jpg) ;
		overflow: hidden;
		background-size: cover;
    background-position: center center;
		margin-bottom: 2%;
}
.info-serv4 {
    background: url(../images/jpg/laboratorios.jpg) ;
		overflow: hidden;
		background-size: cover;
    background-position: center center;

}
.info-serv5 {
    background: url(../images/jpg/facturacion.jpg) ;
		overflow: hidden;
		background-size: cover;
    background-position: center center;

}
.info-text{
	padding-top: 34%;
	padding-bottom: 31%;
	padding-left: 4%;
	width: 50%;
	height: 100%;
	background: rgba(33,33,33 ,0.6);
	transition: all .25s linear;
}
.info-text2{
	padding-top: 10%;
	padding-left: 4%;
	width: 50%;
	height: 100%;
	background: rgba(33,33,33 ,0.6);
	transition: all .25s linear;
}
.info-serv:hover .info-text{
	width: 100%;
	padding-top: 10%;
}
 .info-serv2:hover .info-text2,.info-serv3:hover .info-text2,.info-serv4:hover .info-text2,.info-serv5:hover .info-text2{
	 width: 100%;
	 padding-top: 5%;
 }
.info-serv:hover .info-add, .info-serv2:hover .info-add, .info-serv3:hover .info-add, .info-serv4:hover .info-add, .info-serv5:hover .info-add{
	display: block;
	-webkit-transition:2s;
}

.info-text a, .info-text2 a{
		text-decoration: none !important;
}
.info-text h3, .info-text2 h3{
	color: #E8EAF6 !important;
}
.info-text h4, .info-text2 h4{
		font-size: 1rem !important;
}
.info-add{
	display: none;
	font-family: 'Oxygen';
	font-size: 1rem;
}
/* end services2 */
/* start services3 */
.services3{
	margin-top: 4%;
	padding-top: 8%;
	padding-bottom: 6%;
	background: #4476B1;
	padding-left: 15px;
	padding-right: 15px;
}

/* end services3 */
/* start services4 */
.services4{
	margin-top: 4%;
	margin-left: 2%;
}
.serv4 .row{
	margin-bottom:2%;   box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}
.img-serv4{
		background: #4476B1;
		padding: 60px 25px !important;
}
.inf-serv4{
	background: #f3f3f3;
	border-right: 1px solid #4476B1;
}
.more{
	text-align: right;
	margin: 8px;
}
.wellcome{
	padding: 150px 80px;
}
.wellcome h3{
	font-size: 40px;
}
.wellcome h4{
	color: gray;
	margin-bottom: 8%;
}
.button-more{

}
/* end services4 */
/* start services5 */
.services5{
		margin-top: 4%;
		background-color: #4476B1; 
}
.at{
	background-color: #4476B1; 
	color:white;
	/*padding:20px; */
	/*margin-left:-15px !important;*/
}
.foto-at{
	
}
.logo-at{
	width: 100%;
	padding-left: 40%;
	padding-right:40%;
}
.logo-at img{
	margin-top: 12%;
}
.info-at{
	text-align: justify;
	padding-right: 10%;
}
/* end services5 */
/* start services6 */
.services6{
		margin-top: 5%;
		box-shadow: inset 0 -8px 30px -12px rgba(0,0,0,.41);
		overflow: hidden;
		margin-bottom: -50px;
}
.support{
	text-align: center;
}
/* end services6 */
/* start services7 */
.services7{
		margin-top: 50px;
		padding-top: 20px;
}
.services7 img{
	margin-left: 80px;
}
.info-cont7{
	padding: 100px 8px;
}
.info-cont7 h3 {
font-size: 2em!important;
font-weight: bold;
}
.info-cont7 p {
	font-family: 'Oxygen';
	font-size: 1.3em!important;
}
.btn-info{
	background: white !important;
	color:black !important;
	border: 3px solid gray !important;
	padding: 10px 20px !important;
}
/* end services7 */
/* start carousel2 */
.carrousel2{
	background: #fafafa;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
}
.slide2{
/*  width: 1350px !important;
  height:220px !important;*/
}
.arrow{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	margin-top: -205px; 
	z-index: 2;
	margin-left: initial !important;
	margin-right: initial !important;

}
.lg2{
	background-color: #fafafa;
	height: 220px;
}

/*carousel col-10*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}
/*end carousel col-10*/

/*.slide2 .carousel-control-prev, .slide2 .carousel-control-next{
	opacity: initial;
	justify-content: flex-start;
}*/
/*.slide2 .carousel-control-next{
	
	justify-content: flex-end;
}*/
/* end carousel2 */
/* start help */
.help{
		background: #4476B1;
		color: white;
}
.contact{
	padding-top: 120px;
	padding-left: 120px !important;
	padding-right: 160px !important;
}
.contact h3{
	font-size: 2.2em !important;
	font-weight: bold;
	margin-bottom: 10px;
}
.contact p {
    font-size: 1.9em;
    letter-spacing: 1.5px;
    margin: -10px 0;
}
.titlecall{
  font-size: 1.8em;
}
.phone{
	padding-top: 20px;
	margin-left: -15px !important;
	padding-left: 0px !important;
}
.titlecall h3 span{
	font-size: 60px;
}
.call p{
	font-size: 1em;
}
.cont-quest {
	margin-left: -30px;
}
.buttons button{
	/* background: red; */
	color: white;
	font-size: 1.4em;
}
.buttons button span{
	margin-top: -90px;
}
.icochat, .icophone{
	padding: 8px 5px !important;
	background: #4476B1 !important;
	border: 1px solid white !important;
	/* margin-right: -15px !important; */
}
.icochat md-icon svg, .icophone md-icon svg{
	width: 22%;
}
/* end help */
/* strat footer */
.footer{
	background: #465A7B;
	color: white;
	padding: 20px;
}
.footer > ul,li{
	list-style: none;
}
.footer  a{
	color: white;
}
.inputmailing {
    width: 100%;
    height: 34px;
    background-color: #fff;
    text-align: left;
    color: #333;
    padding: 5px 10px;
		margin-top: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
		margin-bottom: 20px;
}
/* end footer */


@media (max-width: 575px) {
	/*start header*/
	.phone h3 {
		font-size: 2rem;
	}
	.phone span {
	    width: 100%;
	    font-weight: lighter;
	    margin: 0px;
	    display: block;
	}
	/*end header*/
	/*start nav*/

	nav{
		padding-top: 1% !important;
		padding-bottom: 2% !important;
		height: initial;
	}
	nav .main_nav li.nav-item{
		width: 100% !important;
		height: 50px !important;
		border: none !important;
	}
	.menu{
		padding: 2% !important;
	}
	.contenido {
    margin-top: 16.7% !important;
	}

	/*end nav*/
	/*start services*/
	.module{
		border-right: initial !important;
	}
	.boxservices h3{
		font-size: 1.3rem !important;
	}
	.boxservices img{
		width: 28%;
	}
	.boxservices h3{
		/* font-size:12px;*/
		font-size: 1.1rem !important;
	}
	/*end services*/

	/*start what*/
	.whats-info h2{
		font-size: 2rem !important;
	}
	.whats-info p{
		font-size: 1.5rem !important;
		text-align: justify;
	}
	/*end what*/
	/*start services5*/
	.services5{
		padding-top: 5%;
	}
	.foto-at{
		display: none;
	}
	.info-at{
		padding-left: 5% !important;
	}
	.logo-at img{
	/*	width: 80%;*/
	/*	margin: 18% 15%;*/
	}
	/*end services5*/
	/*start carrousel2*/
	.carrousel2 h3{
		font-size: 1.3rem !important;
	}
	.lg1{
		display: none;
	}
	.lg2{
		display: inline-block;
	}
	/*end carrousel2*/
	/*start footer*/
	.footer-contact img{
		width: 90%;
	}
	/*end footer*/

}
@media (min-width: 576px) and (max-width: 767px) { 
	/*start nav*/
	nav{
		padding-top: 1% !important;
		padding-bottom: 2% !important;
		height: initial;
	}
	nav .main_nav li.nav-item{
		width: 100% !important;
		height: 50px !important;
		border: none !important;
	}

	/*end nav*/
	/*start services*/
	.boxservices img{
		width: 25%;
	}
	.boxservices h3{
		font-size: 2rem !important;
	}
	.module{
		border-right: initial !important;
	}
	/*end services*/
	/*start what*/
	.whats-info h2{
		font-size: 2.5rem !important;
	}
	.whats-info p{
		font-size: 1.8rem !important;
	}
	/*end what*/
	/*start carrousel2*/
	.lg2{
		display: none;
	}
	.arrow{
		margin-top: -14%; 
	}
	.arrow img{
		width: 90%;
	}
	/*end carrousel2*/
	/*start footer*/
	.footer-contact img{
		width: 50%;
	}
	/*end footer*/

}

@media(min-width: 768px) and (max-width: 991px){
	.phone1{
		font-size: 1rem !important;
		padding-left: 0.1em !important;
		display: inline-block;
	}
	.span1{
		display: none;
	}
	.phone1 .span2{
		font-size: .7rem !important;
	}
	.span3{
		display: inline-block;
	}
	nav{
		font-size: 1.3rem;
	}
	.nav-link {
       padding: .5rem .2rem !important; /*error solucionado*/
	}

	/*start services*/
	.boxservices h3{
		font-size: 1rem !important;
	}
	/*end services*/
	.lg2{
		display: none;
	}
	.arrow{
		margin-top: -15%; 
	}
	/*start footer*/
	.footer-contact img{
		width: 95%;
	}
	/*end footer*/
}
@media(min-width:992px){
	/*start carrousel2*/
	.lg2{
		display: none;
	}
	/*end carrousel2*/
	/*start footer*/
	.footer-contact img{
		width: 80%;
	}
	/*end footer*/

	@media(min-width:992px) and (max-width:1081px){
			.phone1 {
		padding: 0px !important;
		margin: 0px !important;
		font-size: 1.3rem;
	}
	}

}
