div.ui-zs-container{
	text-align:center;
}
div.ui-zs-content{
	text-align:left;
	margin:auto;
	width:90%;
	margin-top:18px;
	padding:1px 2px;
}
form{
	margin:0px;
}
div.ui-zs-content div.toolbar{
	height:45px;
}
div.ui-zs-fieldset{
	margin-bottom:2px;
}
div.ui-zs-fieldset fieldset{
	border:1px solid #858585;
	padding:2px 4px;
}
div.ui-zs-fieldset legend{
	text-transform:capitalize;
	font-size:10pt;
	text-align:left;
}
div.ui-zs-fieldset label{
	text-transform:capitalize;
}
form.zs-form label{
	text-transform:capitalize;
}
div.error_message{
	display:none;
	text-align: justify;
	border:#BFCDDD solid 1px;
	padding: 1px 2px;
	font-size: 10pt;
	color:white;
	text-transform: capitalize;
	background-color:#345B89;
}
/*.ui-autocomplete-loading { background: white url('../../../Imagenes/loading.gif') right center no-repeat; }*/
div.ui-ajax-request-loading{
	padding: 8px 24px;
	padding: 8px;
	background-image: url('../../../Imagenes/loading.gif');
	background-repeat: no-repeat;
	background-position: 4% center;
	display: inline-block;
	text-transform: capitalize;
	font-size: 11px;
	background-color: lightYellow;
	padding-left: 24px;
	color: #345B89;
	border: solid 1px #345B89;
	position: absolute;
	bottom: 20px;
	left: 1%;
	display: none;
}
