table.menu {
	border: 1px solid #336699;
	FONT-FAMILY: Arial, Helvetica, Verdana,sans-serif;
	background-color: #e5ebef;

}
table.menu TD {
    font-size: 11px;
	color:#336699;
}

table.menu TH{
	font-family: "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 11px;
	color:#FFFFFF;
	border: thin none;
	font-style: normal;	
}
