BODY {
	FONT-SIZE: 70%; MARGIN: 0px; COLOR: #555555; LINE-HEIGHT: 17px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TABLE {
	FONT-SIZE: 100%
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 80%; BORDER-BOTTOM-WIDTH: 1px; VERTICAL-ALIGN: top; COLOR: #555555; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 1px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 80%; BORDER-BOTTOM-WIDTH: 1px; VERTICAL-ALIGN: top; COLOR: #555555; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 1px
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 80%; BORDER-BOTTOM-WIDTH: 1px; VERTICAL-ALIGN: top; COLOR: #555555; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 1px
}
INPUT.checkbox {
	VERTICAL-ALIGN: middle
}
TEXTAREA {
	FONT-SIZE: 80%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:active {
	COLOR: #005aff; TEXT-DECORATION: underline
}
/*A:hover {
	COLOR: #005aff; TEXT-DECORATION: underline
}*/
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #dedfe7; BORDER-BOTTOM-WIDTH: 0px; COLOR: #dedfe7; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.p-orange {
	FONT-SIZE: 9px; COLOR: #000000
}
.p-asterix {
	FONT-SIZE: 9px; COLOR: #fe6000
}
.p-linkplus {
	FONT-SIZE: 9px; COLOR: #000000
}
H1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 22px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 1px; COLOR: #b9bbc7; LINE-HEIGHT: normal; PADDING-TOP: 6px; TEXT-ALIGN: left
}
H5 {
	FONT-SIZE: 110%; MARGIN: 0px
}
#p-email {
	MARGIN-LEFT: 21px; WIDTH: 570px; TEXT-ALIGN: left
}
#p-email .p-content {
	PADDING-RIGHT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 370px
}
#p-email .p-right {
	VERTICAL-ALIGN: top; WIDTH: 180px
}
#p-email .p-header {
	PADDING-RIGHT: 21px; PADDING-LEFT: 0px; PADDING-BOTTOM: 21px; PADDING-TOP: 21px
}
#p-email .p-information {
	BORDER-RIGHT: #e4e5e9 0px solid; BORDER-TOP: #e4e5e9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #e4e5e9 0px solid; BORDER-BOTTOM: #e4e5e9 1px solid
}
#p-email .p-footer {
	BORDER-RIGHT: #e4e5e9 0px solid; BORDER-TOP: #e4e5e9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #e4e5e9 0px solid; BORDER-BOTTOM: #e4e5e9 1px solid
}
#p-email H1 {
	PADDING-LEFT: 0px; FONT-SIZE: 25px; MARGIN-LEFT: 0px
}
#p-email .p-copyright {
	PADDING-TOP: 10px
}
#p-email .p-summary {
	WIDTH: 370px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
#p-email .p-summary .p-header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; HEIGHT: 19px; BACKGROUND-COLOR: #dedfe7
}
#p-email .p-summary .p-header H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #555555; HEIGHT: 19px
}
#p-email .p-summary .p-image {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
#p-email .p-summary .p-content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 6px
}
#p-email .p-summary .p-date {
	FONT-SIZE: 12px; WIDTH: auto; MARGIN-RIGHT: 5px
}
#p-email .p-summary A {
	FONT-SIZE: 11px
}
.p-emphasized {
	WIDTH: 180px; TEXT-ALIGN: left
}
.p-emphasized .p-date {
	FONT-STYLE: italic
}
.p-emphasized .p-top {
	FONT-SIZE: 1px; BACKGROUND: url(cid:borderbox_top.gif); LINE-HEIGHT: 1px; HEIGHT: 7px
}
.p-emphasized .p-content P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.p-emphasized .p-content {
	BORDER-RIGHT: #cecfd8 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #cecfd8 0px solid; PADDING-LEFT: 8px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #cecfd8 1px solid; COLOR: #555555; PADDING-TOP: 4px; BORDER-BOTTOM: #cecfd8 0px solid
}
.p-emphasized .p-bottom {
	FONT-SIZE: 80%; BACKGROUND: url(cid:borderbox_bottom.gif); LINE-HEIGHT: 1px; HEIGHT: 7px
}
.p-emphasized H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 5px 0px 0px; COLOR: #000000
}
#p-email .p-index {
	WIDTH: 370px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
#p-email .p-index UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p-email .p-index UL LI {
	BACKGROUND-POSITION: left 8px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(cid:icon-listitem.gif); BACKGROUND-REPEAT: no-repeat
}
#p-email .p-index H5 {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 10px
}
#p-email .p-paragraph {
	WIDTH: 370px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
#p-email .p-paragraph .p-content {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top
}
.p-readonline {
	DISPLAY: none
}
