#divzeus {
	border-right-style: solid;
	border-left-style: solid;
	border-right-width: thin;
	border-bottom-width: thick;
	border-left-width: thin;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-image: url(../../imag/logo_2.gif);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	
}

P {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: tahoma, arial, sans-serif
}

body {
	scrollbar-face-color:#FEF7E7; 
	scrollbar-highlight-color:#efefef; 
	scrollbar-shadow-color:#efefef; 
	scrollbar-3dlight-color:#efefef; 
	scrollbar-arrow-color:#000000; 
	scrollbar-track-color:#efefef; 
	scrollbar-darkshadow-color:#efefef;
}

#pie {
	border-right-style: solid;
	border-bottom-style: solid;
	background-color: #FFFFFF;
	border-left-style: solid;
	border-right-width: thin;
	border-bottom-width: thick;
	border-left-width: thin;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	width: 581px;
	left: 208px;

}

.grisesito {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	color: #999999;
	font-weight: normal;
}
.naranjado {
	font-family: Century Gothic,Verdana,Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #CC9933;
	font-style: normal;
	line-height: normal;
}

.naranjadoII {
	font-family: Century Gothic,Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #CC9933;
	font-style: normal;
	line-height: normal;
}

.TextoRojo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #FF0000;
	font-style: normal;
	line-height: normal;
}


#logo {
	padding: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;

}
#tres {
	padding: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top-color: #990000;
	border-bottom-color: #990000;
	background-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 4px;
	background-image: url(../imag/reloj.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}


#bienvenida {
	padding: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top-color: #006699;
	border-bottom-color: #006699;
	border-top-style: solid;
	border-top-width: 4px;
	background-image: url(../imag/degradado.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	border-right-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;

}
#Basicos{
	padding: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #003366;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #003366;

}

.menu{
	padding: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #003366;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #003366;

}

.azulturqui {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #006699;
	line-height: normal;
}

.hipertex {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
/*
#menu2 {
	padding: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #003366;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #003366;

}*/

a:link {
	font-family: Arial, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #336699; /* color link */
}
a:visited {
	font-family: Arial, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336699; /* pagina visitada */
	text-decoration: none;
	font-weight: bold;

}

A:active {
	color: #005aff; 
	text-decoration: underline;
}

a:hover {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	color:#0033FF; /* cuando el mouse se para sobre el link */
	text-decoration: underline;
	font-weight: bold;
}
#piepagina {
	padding: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #F5F5EF;
	border-top-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
}

#DisplayBanner{
	padding: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #F5F5EF;
	border-top-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	width: 262px;
}

.pie {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#003366;
	text-decoration: none;
}
.colorlogo {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #003366;
}


#fire {
	padding: 5px;
	border-top-color: #FFD966;
	border-top-style: solid;
	border-top-width: 4px;
	background-attachment: fixed;
	background-image: url(../imag/degradado.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFD966;
	top: 333px;
}

#cajas {
	padding: 5px;
	border-top-color: #6799CC;
	border-top-style: solid;
	background-attachment: fixed;
	background-image: url(../imag/degradado.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6799CC;
}


#neurologico {
	padding: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top-color: #990000;
	border-bottom-color: #990000;
	border-top-style: solid;
	border-top-width: 4px;
	background-image: url(../imag/reloj.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right top;

}

.letrafire {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #003366;
}
#opciones {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;


}
#opcion1 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;



}
#opcion2 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;
}
#opcion3 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
}

.fondo {
    background-image: url(../../imag/logo.gif);
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

#opcion4 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;


}
#opcion5 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;


}
#opcion6 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;


}
#opcion7 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;


}
#opcion8 {
	padding: 2px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;


}
.bienvenida {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 31px;
	text-decoration: none;
	font-weight: bold;
	color: #006699;
	font-style: normal;

}
#dos {
	padding: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #F5F5EF;
	border-top-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;

}
#cuatro {
	padding: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top-color: #006699;
	border-bottom-color: #006699;
	background-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 4px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-image: url(../imag/doctores.jpg);
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #006699;


}
#cinco {
	padding: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top-color: #009900;
	border-bottom-color: #009900;
	background-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 4px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
	background-image: url(../imag/convenios.jpg);


}
.colorverde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	text-decoration: none;
	color: #009900;
}
#estr {
	padding: 3px;
	border: 1px solid #FF9900;
}

.lineIzq{
	border-left:solid;
	border-left-color:#7291C5;
	border-left-width:1px;
}
.lineAba{
	border-bottom:solid;
	border-bottom-color:#7291C5;
	border-bottom-width:1px;
}
/*
.citaPendiente{
	background-color:#00FF00;
	color:#4F7698;
}*/
.citaPendiente:hover{
	background-color:#A7E371;
	color:#4F7698;
	cursor:pointer;
}/*
.citaAtendida{
	background-color:#0000FF;
	color:#FFF;
}*/
.citaAtendida:hover{
	background-color:#57A3D3;
	color:#FFF;
}/*
.citaCancelada{
	background-color:#FF0000;
	color:#FFF;
}*/
.citaCancelada:hover{
	background-color:#AB3535;
	color:#FFF;
}
.citaConfirmada:hover{
	background-color:#4456CA;
	color:#FFF;
	cursor:pointer;
}
.citaIncumplida:hover{
	background-color:#ECD100;
	color:#520000;	
}

.agendaBloqueada{
	background-color:#F3CACA;
	color:#FFF;	
	border:hidden;
	border-width:1px;
	border-color:#900;
	color:#900;
}

.agendaReservada{
	background-color:#FFC982;
	color:#FFF;	
	border:hidden;
	border-width:1px;
	border-color:#900;
	color:#900;
}

.disponible{
	color:#527AB9;
}

.citaPendiente{
	background-color:#5BFF85;
	color:#4F7698;

}
.citaCancelada{
	background-color:#FF4646;
	color:#FFF;
}
.citaAtendida{
	background-color:#63B5E5;
	color:#FFF;
}
.citaConfirmada{
	background-color:#4D63FF;
	color:#FFF;	
}
.citaIncumplida{
	background-color:#FAED16;
	color:#6F0000;	
}

a.tooltip:hover {
text-decoration:none;
}

a.tooltip span {
display:none;
margin:0 0 0 10px;
padding:5px 5px;
}

a.tooltip:hover span {
display:inline;
position:absolute;
border:1px solid #cccccc;
background:#ffffff;
color:#666666;
}


.trHover:hover{
	background:#BFCDDD;
	cursor:pointer;
}

.cajasGuiasMedicasCitas{
	float:left;
	border:solid;
	border-width:1px;
	border-color:#7291C5;
	/*background-color:#FFF;*/
	margin:2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.titleCajasGuiasMedicasCitas{
	width:99%;
	background-color:#7291C5;
	color:#FFF;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	font-weight:bold;
	padding:2px;
	
}