.br-td1 {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffe9bf 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #ffd382 1px solid; BACKGROUND-COLOR: #fcf4d4
}
.br-td2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 10px; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: #ffd382; PADDING-BOTTOM: 8px; BORDER-TOP-COLOR: #ffe9bf; PADDING-TOP: 4px; BORDER-RIGHT-COLOR: black
}
.br-txt2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.br-imput2 {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BORDER-LEFT: #ff6600 1px solid; COLOR: #000099; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff7e1; TEXT-DECORATION: none
}
.br-bt2 {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #000066 1px solid; WIDTH: auto; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; HEIGHT: 16px; BACKGROUND-COLOR: #a6c4e1; TEXT-DECORATION: none
}
.br-td3 {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #3366cc 2px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: black 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: black 0px solid
}
.br-nota {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.br-listt {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #cc6600 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: black 0px solid; COLOR: #ffffff; BORDER-BOTTOM: #cc6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff6600; TEXT-DECORATION: none
}
.br-listxt {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; LINE-HEIGHT: 17pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.br-listd1 {
	BORDER-RIGHT: #ffd382 1px solid; BORDER-TOP: black 0px solid; PADDING-LEFT: 4px; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #cc6600 0px solid; BACKGROUND-COLOR: #fcf3e2
}
.br-lisst {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; LINE-HEIGHT: 17pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.br-listd2 {
	BORDER-RIGHT: #ffd382 1px solid; BORDER-TOP: black 0px solid; PADDING-LEFT: 4px; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #cc6600 0px solid; BACKGROUND-COLOR: #fff1d7
}
.br-fdolistt {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #cc6600 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: black 0px solid; COLOR: #ffffff; BORDER-BOTTOM: #cc6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff6600; TEXT-DECORATION: none
}
.br-fdolistt2 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #cc6600 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: black 0px solid; COLOR: #ffffff; BORDER-BOTTOM: #cc6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff9900; TEXT-DECORATION: none
}
.br-fdolistt3 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #cc6600 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: black 0px solid; COLOR: #cc6600; BORDER-BOTTOM: #cc6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcc00; TEXT-DECORATION: none
}
.br-listd3 {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #cc6600 0px solid; BACKGROUND-COLOR: #fff1d7
}
.br-dtt {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 0px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14pt; PADDING-BOTTOM: 0px; BORDER-LEFT: black 0px solid; COLOR: #003399; PADDING-TOP: 0px; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.br-td2pt {
	PADDING-RIGHT: 2px; PADDING-LEFT: 10px; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: #ffd382; PADDING-BOTTOM: 2px; BORDER-TOP-COLOR: #ffe9bf; PADDING-TOP: 0px; BORDER-RIGHT-COLOR: black
}
.mn-gral {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #3366cc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mn-graltd1 {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 0px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: black 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffd382 1px solid; BACKGROUND-COLOR: #fff9e8
}
.lispg-td1 {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: black 0px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: black 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #c9dbed 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.lispg-tdtt {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff6600; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.lispg-td2 {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: black 0px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: black 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #c9dbed 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #F6F6F6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.lispg-td3 {
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: black 0px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: black 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #c9dbed 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef5fd; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.log-bt {
	BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-LEFT: #003399 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #003399 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #3366cc; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.log-sttd {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: black 0px solid; COLOR: #000000; BORDER-BOTTOM: #ff6600 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef5fd; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.log-sttd2 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: black 0px solid; COLOR: #000000; BORDER-BOTTOM: #ff6600 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.log-sttd1b {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #ff6600 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-LEFT: black 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: black 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef5fd; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.log-sttd2b {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #ff6600 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-LEFT: black 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: black 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.log-td1 {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff9e8; TEXT-DECORATION: none
}
.br-inmueble {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.br-marco {
	BORDER-RIGHT: #ff6600 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff6600 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ff6600 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ff6600 1px solid
}
.br-ttlis2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: 0px; COLOR: #000000; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.br-listd1b {
	PADDING-LEFT: 4px; BACKGROUND-COLOR: #fcf3e2
}
.lisin-cb1 {
	BORDER-RIGHT: #003399 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #003399 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #003399 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #003399 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.lisin-bt1 {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-LEFT: #000066 1px solid; WIDTH: 50px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 16px; BACKGROUND-COLOR: #0066cc; TEXT-DECORATION: none
}
.lisin-td1 {
	BORDER-RIGHT: #a6c4e1 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #a6c4e1 0px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #a6c4e1 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #a6c4e1 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1ebf4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.lisin-td2 {
	BORDER-RIGHT: #a6c4e1 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #a6c4e1 0px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #a6c4e1 0px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #a6c4e1 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f8fb; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.lisin-pie {
	BORDER-RIGHT: #000066 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000066 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #000066 0px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.lisin-bt2 {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-LEFT: #000066 1px solid; WIDTH: 110px; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 16px; BACKGROUND-COLOR: #a6c4e1; TEXT-DECORATION: none
}
.lisin-txt2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.lisin-txt3 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bton-ver01 {
	BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #003399 1px solid; WIDTH: 82px; CURSOR: hand; COLOR: #003399; BORDER-BOTTOM: #003399 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 0px; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tablas {
	BORDER-RIGHT: #003399 1px solid;
	BORDER-TOP: #003399 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	TEXT-TRANSFORM: capitalize;
	BORDER-LEFT: #003399 1px solid;
	CURSOR: hand;
	BORDER-BOTTOM: #003399 1px solid;
	FONT-FAMILY: "Microsoft Sans Serif", Tahoma, Verdana;
	LETTER-SPACING: 0px;
	HEIGHT: 18px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none;
	color: #003366;
}

.resultado {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #000066; BORDER-BOTTOM-COLOR: #000066; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000066
}
.adicion {
	BORDER-RIGHT: #ffffff thin solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffffff thin solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff thin solid; COLOR: #000099; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff thin solid; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; BACKGROUND-COLOR: #c9dbed; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.lisin-td3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px
}
.lisin-txt4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; COLOR: #cc0000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.form-boton2 {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #000066 1px solid; WIDTH: 105px; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #a6c4e1; TEXT-DECORATION: none
}
.form-boton3 {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #000066 1px solid; WIDTH: 160px; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #a6c4e1; TEXT-DECORATION: none
}
.br-td4 {
	BORDER-RIGHT: #3366cc 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #3366cc 0px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #3366cc 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #3366cc 2px solid
}
.bt-pt {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; BORDER-LEFT: #ff6600 1px solid; BORDER-BOTTOM: #ff6600 1px solid
}

.DisplayBlanca {
	color: #FFFFFF;
	FONT-SIZE: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Display{
	color: #3366cc;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}
