.mycomputers A:visited{color: blue; text-decoration: none;}

BODY {background-color: #ffffff; margin: 0px 6px 6px; color: #000000}

TD, P, SPAN, OL, UL, DIV {font-family: tahoma; font-size: 11px;}
SELECT, INPUT, TEXTAREA {font-family: arial; font-size: 12px;}
.bodytext {line-height: 16px}
.slink {font-size: 9px}
.newbody {color: #666666}
.newpad {color: #333333}
.newwhite {color: #ffffff; font-weight: bold;}
.headlog {color: #363466; font-weight: bold;}
.featurehead { color:#010163; font-weight: bold; font-size:10pt; }

H1 {font-size: 24px; margin-top: 10px; margin-bottom: 5px}
.header {font-size: 24px;}
H2 {font-size: 18px; margin-top: 10px; margin-bottom: 3px}
H3 {font-size: 16px;}

A {color: #000099}
A:hover {color: #6699FF}
A:active {color: #FF9900}

.bullet1 {font-weight: bold; padding-right: 4px; color: #000066}
.bullet2 {font-weight: bold; padding-right: 4px; color: #ff9900}

.nav {background-color: #949494; background-image: url(/images/navback.gif); background-repeat: repeat-x;}
.nav TD A, .nav TD A:visited, .nav TD A:active {font-weight: bold; text-decoration: none; color: #ffffff;}
.nav TD A:hover {font-weight: bold; text-decoration: underline; color: #ffffff;}

A.headerlink {font-size: 11px; color: #000099; text-decoration: underline; font-weight: bold;}
A:hover.headerlink {color: #000099;}
A:visited.headerlink {color: #000099;}
A:active.headerlink {color: #000099;}

A.forglink {font-size: 10px; color: #000099; text-decoration: underline;}
A:hover.forglink {color: #000099;}
A:visited.forglink {color: #000099;}
A:active.forglink {color: #000099;}

A.newlink {color: #000099; text-decoration: underline;}
A:hover.newlink {color: #21207e;}
A:visited.newlink {color: #000099;}
A:active.newlink {color: #ff9900;}

A.whitelink {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 20px; font-family: tahoma;}
A:hover.whitelink {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 20px; font-family: tahoma;}
A:visited.whitelink {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 20px; font-family: tahoma;}
A:active.whitelink {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 20px; font-family: tahoma;}

A.whitelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 14px; font-family: tahoma;}
A:hover.whitelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 14px; font-family: tahoma;}
A:visited.whitelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 14px; font-family: tahoma;}
A:active.whitelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 14px; font-family: tahoma;}


TD.navleft A {font-size: 11px; color: #ffffff; text-decoration: none; font-weight: bold;}
TD.navleft A:hover {font-size: 11px; color: #ffffff; text-decoration: none; font-weight: bold;}
TD.navleft A:visited {font-size: 11px; color: #ffffff; text-decoration: none; font-weight: bold;}
TD.navleft A:active {font-size: 11px; color: #ffffff; text-decoration: none; font-weight: bold;}
TD.navright A {font-size: 11px; color: #000000; text-decoration: none; font-weight: bold;}
TD.navright A:hover {font-size: 11px; color: #000000; text-decoration: none; font-weight: bold;}
TD.navright A:visited {font-size: 11px; color: #000000; text-decoration: none; font-weight: bold;}
TD.navright A:active {font-size: 11px; color: #000000; text-decoration: none; font-weight: bold;}

#user {font-size: 10px; color: #333333; text-decoration: none; font-weight: bold;}
#links0 {font-size: 11px; color: #D5691D; text-decoration: none; font-weight: bold;}
#links1 {font-size: 11px; color: #333333; text-decoration: none; font-weight: bold;}
#links2 {font-size: 11px; color: #117F94; text-decoration: none; font-weight: bold;}
#links3 {font-size: 11px; color: #0F763B; text-decoration: none; font-weight: bold;}


UL.arrowlist {
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: url(/Images/bullet1.gif);
	padding-left: 17px;
	margin-top: 3px;
	padding-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

UL.arrowlist LI {
	font-size: 11px;	
	margin-bottom: 6px;
	line-height: 16px;
}

.button{
color: #000033;
font: bold 13px 'trebuchet ms', helvetica, sans-serif;
background-repeat: repeat-x; 
background-color: #FFCC00;
background-image: url(/images/buttonbg.gif); 
border: 1px outset #999999;
}

INPUT.button2{
color: #000000;
font: bold 13px 'trebuchet ms', helvetica, sans-serif;
background-repeat: repeat-x; 
background-color: #D4D4D4;
background-image: url(/images/buttonbg2.gif);
border: 1px outset #999999;
}

.buttonlog
{
  background-repeat: repeat-x; 
  background-image: url(/images/header/butbg.jpg);
  color:#393D75;
  font-weight:bold;
  font-size: 12px;
  height: 20;
  border:1px solid;
  border-color:#393D75;
}

input.buttonmain{
	 background-repeat: repeat-x; 
	 background-image: url(/images/header/butbg.jpg);
   color:#393D75;
 	 font-weight:bold;
   font-size: 12px;
	 width: 190;
	 height: 20;
   border:1px solid;
   border-color:#393D75;
}

.globalnav {background-color: #000000; font-size: 10px;}

.datatable {background-color: #cccccc;}
.datatable .head {background-color: #efefef; font-weight: bold}
.datatable .label {background-color: #f2f2f2; font-weight: bold}
.datatable .data {background-color: #ffffff}
.datatable .no {color: red; font-weight: bold; font-size: 14px;}

.datatable2 .heading TD {background-color:threedface; color: black; font-weight: bold}
.datatable2 .data TD {border-bottom: solid 1px #cccccc}

.mycomputersoff A, .mycomputersoff A:visited {color: #000000; text-decoration: none}
.mycomputersoff A:hover {color: #000000; text-decoration: underline}

.tooltips {}
.tooltips .title {font: normal 18px arial; color: #666666}
.tooltips .heading {font-weight: bold;line-height: 16px;}
.tooltips .text {line-height: 16px;}



.splashtext {color: #000000; visibility: hidden; position: absolute; top: 158px; left: 320px; z-index: 2; color: #ffffff; font: normal 11px tahoma; width: 410px}
.splashtext .indent {position: relative; left: 160px}
.splashtext .indent2 {position: relative; left: 190px}

.navImage {background-image: url(/images/homepage/00.gif); background-repeat: no-repeat;}
.navImage0 {background-image: url(/images/homepage/0.gif); background-repeat: no-repeat;}
.navImage1 {background-image: url(/images/homepage/1.gif); background-repeat: no-repeat;}
.navImage2 {background-image: url(/images/homepage/2.gif); background-repeat: no-repeat;}
.navImage3 {background-image: url(/images/homepage/3.gif); background-repeat: no-repeat;}
.navImage4 {background-image: url(/images/homepage/4.gif); background-repeat: no-repeat;}

.splashImage {background-image: url(/images/homepage/none.gif); background-repeat: no-repeat;}
.splashImage0 {background-image: url(/images/homepage/default.gif); background-repeat: no-repeat;}
.splashImage1 {background-image: url(/images/homepage/anim2.gif); background-repeat: no-repeat;}
.splashImage2 {background-image: url(/images/homepage/anim1.gif); background-repeat: no-repeat;}
.splashImage3 {background-image: url(/images/homepage/remote_systems.gif); background-repeat: no-repeat;}
.splashImage4 {background-image: url(/images/homepage/remote_support.gif); background-repeat: no-repeat;}






.splashbox {color: #ffffff;}
.splashbox A {color: #ffffff;}

.homeheaders {font-family: arial; font-size: 16px; font-weight: bold;}

.doclist LI {list-style-image: url(images/doc.gif);}

.label {font-weight: bold;}

.key {font-size: 9px; color: #666666}

.notes {font-size: 10px; color: #666666}

 
.error {font-weight: bold; color: red}
.success {font-weight: bold; color: green}

.product_title {font-weight: bold;}
.product_title A {text-decoration: none; color: #003366}
.product_title A:hover {text-decoration: none; background-color: #99CCFF}
.product_text {}
.product_text A {text-decoration: none; color: #003366}
.product_text A:hover {text-decoration: none; background-color: #99CCFF}

.price {font-size: 18px}

.submit {background-color: #FF9900; font-size: 10px; font-weight: bold; color: #ffffff;}

.loginbox {background-color: #D9D9D9;}
.contentbox {background-color: #F0F0F0;}

.products_table {}

.computertitle {font-family: arial; font-size: 24px; font-weight: bold;}

.mycomputers A {color: blue; text-decoration: none;}
.mycomputers A:hover {color: blue; text-decoration: underline;}
.mycomputers_off A {color: #000000; text-decoration: none;}

.interface_nav A {text-decoration: none; color: black}
.interface_nav A:hover {text-decoration: underline; color: black}
.interface_nav_on {background-color: #f0f0f0;}
.interface_nav_on A {text-decoration: none; color: black; font-weight: bold;}

.question {font-family: arial; font-size: 16px; font-weight: bold;}

.producttitle {font-family: arial; font-size: 16px; font-weight: bold;}

.divrow TD {border-bottom: 1px solid #cccccc;}

.breadcrumbs {font-size: 10px; color: #666666;}

.footer{font-size: 10px; color: #828282;}
.footer A, .footer A:visited, .footer A:active {color: #828282;}
.footer A:hover {color: #333333;}


.comparison .header {font-weight: bold; font-size: 14px; font-family: arial}
.comparison .header A {color: #000000; text-decoration: none;}
.comparison .header A:hover {color: #000000; text-decoration: underline;}
.comparison .description_title {font-weight: bold; font-size: 10px;}
.comparison .description {font-size: 10px; color: #666666}
.comparison .divrow {border-bottom: thin dotted #cccccc;}
.comparison .links A {font-size: 10px; color: blue}

.header {font-weight: bold;}

.other_header {font-weight: bold; font-size: 14px;}
.other_header A {color: #000000; text-decoration: none;}
.other_header A:hover {color: #000000; text-decoration: underline;}
.links A {font-size: 10px;}



.input_grey {
	background-color: #F0F0F0;
	 font-size: 8pt; font-weight: 400;
        color: #000000;
	border-width: 0;
	border-style: none;
	border: none;
}

form {margin: 0; padding: 0 }

.titleblue {font-size: 11pt; font-style: normal; font-weight: bold; color: #2038a9}
.titleblue1 {font-size: 13pt; font-style: normal; font-weight: bold; color: #2038a9}
.titleblue2 {font-size: 14pt; font-style: normal; font-weight: bold; color: #2038a9}
.titleblue3 {font-size: 8pt; font-style: normal; font-weight: bold; color: #2038a9}
.headgreen {font-size: 11pt; font-style: normal; font-weight: bold; color: #339900}

.topnavlink {font-size: 7pt; font-weight: bold; color: #2038a9; text-decoration: none}
.topnavlink:active {font-size: 7pt; font-weight: bold; color: #2038a9; text-decoration: none}
.topnavlink:visited {font-size: 7pt; font-weight: bold; color: #2038a9; text-decoration: none}
.topnavlink:hover {font-size: 7pt; font-weight: bold; color: #2038a9; text-decoration: underline}

.loginbox {font-size: 8pt; font-weight: 800; color: #2038a9}
.loginboxlink {font-size: 8pt; font-weight: 400; color: #0000FF; text-decoration: none}
.loginboxlink:hover {font-size: 8pt; font-weight: 400; color: #0000FF; text-decoration: underline}
.loginboxinput {font-size: 8pt; font-weight: 400; color: #2038a9} 

.backofficeheader {font-size: 20pt; font-weight: 600; color: #29679A} 

.inlink {font-size: 8pt; font-weight: 400; color: #0000FF; text-decoration: none}
.inlink:hover {font-size: 8pt; font-weight: 400; color: #0000FF; text-decoration: underline}

.faqheader {font-family: Arial, sans-serif; font-size: 12pt; font-weight: 800; color: #339900} 

.tableheadtxt {font-size: 8pt; font-weight: 600; color: #339900; text-decoration: none}
.tabledata {cellspacing:0; cellpadding:3; text-align:center; border-collapse: collapse; empty-cells: show; border:2px solid #708090; }
.tabledata td {font-size: 8pt; font-weight: 400; background-color: white; color: black; text-decoration: none; text-align: right; border:1px solid #708090 }
.tabledata tr.odd td {font-size: 8pt; font-weight: 400; background-color: #F0F6FF; color: black; text-decoration: none; text-align: right; border:1px solid #708090 }
.tabledata.head td {font-size: 8pt; font-weight: 400; background-color: #29679A; color: white; text-decoration: none; text-align: center; border:1px solid #203040 }
.tabledata th {font-size: 8pt; font-weight: 400; background-color: #29679A; color: white; text-decoration: none; text-align: center; border:1px solid #203040 }

.hptxthuge {font-size: 20pt; font-weight: 600; color: #828282} 
.hptxtnormal {font-size: 8pt; font-weight: 400; color: #636363} 
.hptxtsmall {font-size: 7pt; font-weight: 400; color: #828282} 
.hptxthighlight {font-size: 8pt; font-weight: 800; color: #636363}
.hptxtheader {font-size: 11pt; font-weight: 800; color: #29679A}
.hplink {font-size: 8pt; color: #31A110; text-decoration: none; font-weight: 800}
.hplink:hover {font-size: 8pt; color: #31A110; text-decoration: underline; font-weight: 800} 
.hplink:link {font-size: 8pt; color: #31A110; text-decoration: none; font-weight: 800} 


.copyright {font-size: 7pt; font-weight: 400; color: #828282} 
.copylink TD A, .copylink TD A:visited, .copylink TD A:active {font-size: 7pt; font-weight: 400; color: #828282; text-decoration: underline}
.copylink TD A:hover {font-size: 7pt; font-weight: 400; color: #333333; text-decoration: underline}


.hptxtsidebar {font-family: Verdana, Verdana, Helvetica, sans-serif; font-size: 8pt; font-weight: 400; color: #CCCCFF}

.intxthuge {font-size: 20pt; font-weight: 600; color: #828282} 
.intxtnormal {font-size: 8pt; font-weight: 400; color: #000000}
.intxtparanormal {font-size: 8pt; font-weight: 400; color: #666666}

.intxtnormal1 {font-size: 7pt; font-weight: 400; color: #000000} 
.intxtblue {font-size: 8pt; font-weight: 400; color: #2038a9} 
.intxtblue2 {font-size: 10pt; font-weight: 400; color: #2038a9; font-weight: 800} 
.intxtanthony {font-size: 10pt; font-weight: bold; color: #000000} 
.intxtanthony1 {font-size: 9pt; font-weight: bold; color: #000000} 
.intxtanthony2 {font-size: 10pt; font-weight: bold; color: #000000} 
.intxtanthony3 {font-size: 7pt; font-weight: bold; color: #99FF00}
.intxterror {font-size: 8pt; font-weight: 800; color: #FF0000} 
.intxtsmall {font-size: 7pt; font-weight: 400; color: #828282} 
.intxthighlight {font-size: 8pt; font-weight: 800; color: #636363}
.intxtheader {font-family: Arial, sans-serif; font-size: 11pt; font-weight: 800; color: #29679A}
.intxtsidebar {font-family: Verdana, Verdana, Helvetica, sans-serif; font-size: 8pt; font-weight: 400; color: #CCCCFF}

.sidetxthuge {font-size: 20pt; font-weight: 600; color: #CCFFFF} 
.sidetxtnormal {font-size: 8pt; font-weight: 400; color: #CCFFFF} 
.sidetxtsmall {font-size: 7pt; font-weight: 400; color: #CCFFFF} 
.sidetxthighlight {font-size: 8pt; font-weight: 800; color: #CCFFFF}
.sidetxtheader {font-size: 11pt; font-weight: 800; color: #CCFFFF}
.sidelink {font-size: 8pt; color: #CCFFFF; text-decoration: none; font-weight: 800}
.sidelink:hover {font-size: 8pt; color: #CCFFFF; text-decoration: underline; font-weight: 800} 
.sidelink:link {font-size: 8pt; color: #CCFFFF; text-decoration: none; font-weight: 800} 

.entryfieldfixed {font-family: courier, Verdana, sans-serif; font-size: 10pt; font-weight: 400; color: #636363} 

.entrypageform {font-size: 9pt; font-weight: 600; color: #434343} 

.entrypagelinkpro {font-size: 9pt; font-weight: 600; color: #D5691D}
.entrypagelinkfree {font-size: 9pt; font-weight: 600; color: #069150}  
.entrypagelinkbackup {font-size: 9pt; font-weight: 600; color: #008EA0} 
.entrypagelinkit {font-size: 9pt; font-weight: 600; color: #5D5996} 

.comptablehead {font-size: 9pt; font-weight: 800; color: #636363} 
.comptablefeat {font-size: 8pt; font-weight: 400; color: #636363} 
.comptableyes {font-size: 8pt; color: #31A110; text-decoration: none; font-weight: 800}
.comptableno {font-size: 8pt; font-weight: 800; color: #636363} 

.securitycode {font-size: 10pt; font-weight: 400; color: #000000} 

.navigation_menu, .navigation_menu A, .navigation_menu A:visited, .navigation_menu A:active {font-size: 8pt; font-weight: normal} 
.navigation_menu {color: #909090} 
.navigation_menu A, .navigation_menu A:visited {color: #606060} 
.navigation_menu A:hover {color: #6699FF} 

.bubbletxtblured {font-size: 8pt; font-weight: 400; color: #CECECE }

.list_link {FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #8d1c1c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.matrix {FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif}
.matrix A {COLOR: #93393a}
.matrix_sub {BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(/_images/matrix_sub_bg.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #c9c9c9 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #c9c9c9 1px solid; BACKGROUND-COLOR: #f3f3f3}
.matrix_info_sub {BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/_images/matrix_info_bg.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #c9c9c9 1px solid; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #c9c9c9 1px solid; BACKGROUND-COLOR: #f3f3f3}
.matrix_header {BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(/_images/matrix_header_bg.gif); PADDING-BOTTOM: 6px; BORDER-LEFT: #c9c9c9 1px solid; COLOR: #00469e; PADDING-TOP: 6px; BORDER-BOTTOM: #838383 1px solid; BACKGROUND-COLOR: #ffffff}
.matrix_info {BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #eae9e9 1px solid; BACKGROUND-COLOR: #f7f7f7}
.matrix_content {BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #353535; PADDING-TOP: 4px; BORDER-BOTTOM: #efefef 1px solid; BACKGROUND-COLOR: #FFFFFF}
.matrix_left {BORDER-LEFT: #c9c9c9 1px solid}
.home_box {BORDER-LEFT: #d8d8d8 1px solid}

.news {POSITION: absolute; width: 300px; visibility: hidden;}

.news2 {POSITION: absolute; width: 300px; height: 75px; display: none; background-color:#fff;}

div.itrmain {padding-top: 13px}
div.maincontent {width: 750px; padding-top: 13px}
div.goaspmaincontent {width: 730px; padding-top: 13px}

div.contmenu  
{
float: left;
z-index: 1;
color: #000000;
background-color: #f1f1f1;
top: 101px;
width: 565px;
height: 136px;
position: absolute;
overflow: hidden;
display: none;
}

div.contmenu2  
{
float: left;
z-index: 1;
color: #000000;
top: 100px;
width: 700px;
height: 184px;
position: absolute;
overflow: hidden;
display: none;
}

input.buttonhome{
   color:#ffffff;
 	 font-weight:bold;
   font-size: 11px;
	 width: 170;
   border:1px solid;
	 cursor: pointer;
}


A.homelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 11px; font-family: tahoma;}
A:hover.homelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 11px; font-family: tahoma;}
A:visited.homelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 11px; font-family: tahoma;}
A:active.homelinks {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 11px; font-family: tahoma;}


A.whl {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 10px; font-family: tahoma;}
A:hover.whl {color: #ffffff; text-decoration: underline; font-weight:bold; font-size: 10px; font-family: tahoma;}
A:visited.whl {color: #dddddd; text-decoration: none; font-weight:bold; font-size: 10px; font-family: tahoma;}
A:active.whl {color: #ffffff; text-decoration: none; font-weight:bold; font-size: 10px; font-family: tahoma;}

.hcell {border-top: 1px solid white; border-bottom: 1px solid white; 
		background-color: #F2F2F2; 	padding: 2px; padding-left: 4px; padding-right: 4px}
.ncell {padding: 0px; padding-left: 4px; padding-right: 4px}
.hc0 {padding-left: 15px; background-color: white}

.hc1 {text-align: center; width: 1%; background-color: #E4E4E4; border-right: 1px solid white} 
.hc2 {text-align: center; width: 1%; background-color: #E4E4E4; border-right: 1px solid white} 
.hc3 {width: 95%; background-color: #E4E4E4; border-right: 1px solid white} 
.hc4 {width: 1%; background-color: #E4E4E4; border-right: 1px solid white} 
.hc5 {text-align: center; width: 1%; background-color: #E4E4E4} 
.hc6 {border-right: 0px; text-align: center; width: 1%; background-color: #E4E4E4; border-left: 1px solid white} 

.nc0 {background-color: white}
.nc1 {text-align: center; height: 19px; border-right: 1px solid #F2F2F2} 
.nc2 {text-align: center; border-right: none; border-right: 1px solid #F2F2F2} 
.nc3 {width: 95%; border-right: 1px solid #F2F2F2} 
.nc4 {border-right: 1px solid #F2F2F2} 
.nc5 {text-align: center} 
.nc6 {border-right: 0px; text-align: center; border-left: 1px solid #F2F2F2}
.legend {padding-top: 3px; padding-bottom: 3px; color: black; border-top: 1px solid white}
.offmsg, .offmsg a {color: #404040}
.offmsg a:hover {color: #6699FF}
.BigYellowMsg {background-color: InfoBackground; border: 1px solid gray; color: infotext; width: 100%} 

html, body {min-height: 100%; height: auto !important; height: 100%}

#darkworlddiv {display: none; position: absolute; z-index: 8; width: 100%; height: 100%; top: 0px; left: 0px; min-height:100%; background-color: black; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5;}