BODY {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.LSARTICLEABSTRACT {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.LSERRMSG {
	FONT-WEIGHT: bold; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.LSSMALL {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
INPUT.NAV {
	BORDER-RIGHT: #a5a6a5 1px solid;
	BORDER-TOP: #a5a6a5 1px solid;
	FONT-SIZE: 12px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	MARGIN-LEFT: 0px;
	BORDER-LEFT: #a5a6a5 1px solid;
	COLOR: #003366;
	BORDER-BOTTOM: #a5a6a5 1px solid;
	FONT-FAMILY: "MS Reference Sans Serif", "Lucida Sans Unicode", Verdana;
	font-weight: bold;
}
.kbtitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 22px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #b9bbc7; LINE-HEIGHT: normal; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.kbsectionheading {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 18px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #b9bbc7; LINE-HEIGHT: normal; PADDING-TOP: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.kbheading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #b9bbc7; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.kbheading2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #b9bbc7; LINE-HEIGHT: normal; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.kbheading3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #b9bbc7; LINE-HEIGHT: normal; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.kbsourcode {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-FAMILY: Courier; BACKGROUND-COLOR: #e0e0e8
}
.LSBOTABLEHEAD {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ededed
}
.LSBOTABLEHEAD2 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; BORDER-BOTTOM: #858585 2px solid; BACKGROUND-COLOR: #ededed
}
.LSBOTABLE {
	BORDER-RIGHT: #858585 1px solid; BORDER-TOP: #858585 1px solid; BORDER-LEFT: #858585 1px solid; BORDER-BOTTOM: #858585 1px solid
}
.LSBOTH {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #858585 1px solid; BACKGROUND-COLOR: #efefef
}
.LSBOYELLOW {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #858585 4px solid; BACKGROUND-COLOR: #FFFF99
}
.LSBOTDHOVER {
	BORDER-BOTTOM: #858585 1px solid; BACKGROUND-COLOR: #f6f6f6
}
.LSBOTD {
	BORDER-BOTTOM: #858585 1px solid
}
.LSPRESSE {
	BORDER-RIGHT: #858585 1px solid; BORDER-TOP: #858585 1px solid; BORDER-LEFT: #858585 1px solid; BORDER-BOTTOM: #858585 1px solid; BACKGROUND-COLOR: #e5ebef;
}

.LSPRESSEWHITE {
	BORDER-RIGHT: #858585 1px solid; BORDER-TOP: #858585 1px solid; BORDER-LEFT: #858585 1px solid; BORDER-BOTTOM: #858585 1px solid; BACKGROUND-COLOR: #FFF;
}

TABLE.BOTABLE {
	BORDER-RIGHT: #999999 1px dashed; BORDER-TOP: #999999 1px dashed; MARGIN-BOTTOM: 15px; BORDER-LEFT: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed
}
TD.BOHEADER {
	BACKGROUND: #f4f5f5; BORDER-BOTTOM: #999999 1px dashed
}
.tiny {
	FONT-SIZE: 9px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
.norm {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif;
}
.normDisabled {
	FONT-SIZE: 11px; COLOR: #444444; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif; background-color:#E8E8E8;	
}
.normi {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, sans-serif
}
BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif
}
.search {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bigtopic {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif
}
.prom {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3399ff; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif
}
.findbutton {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; CURSOR: help; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #6699ff
}
.normbutton {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; CURSOR: hand; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #99ccff
}
.forminputbox {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #666666 1px solid; CURSOR: text; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: transparent
}
.redsuper {
	VERTICAL-ALIGN: super; COLOR: red
}
.findinputbox {
	BORDER-RIGHT: #6699ff 1px solid; BORDER-TOP: #6699ff 1px solid; FONT-SIZE: xx-small; MARGIN: 2px 3px; BORDER-LEFT: #6699ff 1px solid; WIDTH: 150px; CURSOR: text; BORDER-BOTTOM: #6699ff 1px solid; FONT-FAMILY: sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: transparent
}
.formselect {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10pt; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #dddddd
}
.findselect {
	BACKGROUND-COLOR: #6699ff
}
.bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bigheading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #336666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UNKNOWN {
	BORDER-RIGHT: thin solid; BORDER-TOP: thin solid; BORDER-LEFT: thin solid; BORDER-BOTTOM: thin solid; BACKGROUND-COLOR: #dedede
}
.mediumhead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; font-family:Microsoft Sans Serif,Tahoma, Verdana;
}

.mediumheadII {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; font-family:"Microsoft Sans Serif", Tahoma, Verdana;
}
.smallwhite {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif
}

.user {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; COLOR:#CCCCCC; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
