.box { 
		font-family: Verdana ,sans-serif ,Helvatica ,Times New Roman ; 
		font-size: 12px; 
		color:#000099; 
		border: 1px #000000 solid; 
		background-color: #FFFFFF;
		font-weight:bold;
}

.combo { 
		font-family: Verdana, sans-serif; 
		font-size: 11px; 
		color:#000099; 
		border: 1px #000000 solid; 
		background-color:#FFFFFF;  
		font-weight: bold
}

.navBG td {
		padding: 0px 4px 0px 4px;text-align:center;height:28px;
}

.search { 
		font-family: Verdana, sans-serif; 
		font-size: 11px; 
		color:#000099; 
		border: 1px #000000 solid; 
		background-color:#F5F5EF;  
		font-weight: bold;
	/*	background-image: url(../imag/bgText.gif);*/
}

.boton { 
		font-family: Verdana, sans-serif; 
		font-size: 10px; 
		color:#FFFFFF; 
		border: 1px #666666 solid; 
		/*background-color: #5f789a;  */
		background-color: #5F87B6;
		font-weight: bold
}
.letra {
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 12px;
	color:#FFFFFF;
	border: thin none;
	font-style: normal;
}
.letraCaption {
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 12px;
	color:#FFFFFF;
	border: thin none;
	font-style: normal;
}
.letraCaptionLink {
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 11px;
	color:#FFFFFF;
	border: thin none;
	font-style: normal;
}
.letraYellow {
	font-family: Arial, "Verdana", sans-serif, Helvatica, "Times New Roman";
	font-size: 16px;
	color:#FFFF99;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}

.letraVerde {
	font-family: Arial, "Verdana", sans-serif, Helvatica, "Times New Roman";
	font-size: 10px;
	color:#FFFF99;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}

.letraRed {
	font-family: Arial, "Verdana", sans-serif, Helvatica, "Times New Roman";
	font-size: 10px;
	color:#CC0033;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}

.grl{
	color:#FFFFFF;
	background-color:#5F87B6;
	font-family: Arial, Verdana ,sans-serif ,Helvatica ,Times New Roman ; 
	font-size: 11px; 
	border: 1px #000000 solid; 
	font-weight:bold;
}
.logo {
	font-family: "Century Gothic", "Verdana";
	font-size: 12px;
	color:#CC0033;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}

.letraRedII {
	font-family: Arial, "Verdana", sans-serif, Helvatica, "Times New Roman";
	font-size: 17px;
	color:#CC0033;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}

.Titulos { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 24px;
	color:#336699;
	font-weight: bold;
	font-weight: italy;
	border: thin none;
	font-style: normal;
}

.capa {
	BORDER-BOTTOM: #858585 0px solid; BACKGROUND-COLOR: #e5ebef;
}

.TituloII { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 17px;
	color:#336699;
	font-weight: bold;
	font-weight: italy;
	border: thin none;
	font-style: normal;
}

.TituloIII { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 18px;
	color:#336699;
	font-weight: bold;
	font-weight: italy;
	border: thin none;
	font-style: normal;
}

.enlaces A {
	DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(graficos/icon_3.gif) #eeeeee no-repeat; COLOR: #0066cc; BORDER-BOTTOM: #6699cc 1px solid; TEXT-DECORATION: none
}
.enlaces A:hover {
	BACKGROUND-COLOR: #f8f8f8
}

.letraDisplayNew { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 11px;
	color:#336699;
	font-weight:bold;
	border: thin none;
	font-style: normal;
}

.letraDisplayTitu{ 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 14px;
	color:#336699;
	font-weight:bold;
	border: thin none;
	font-style: normal;
}

.bordeTab{
	border:solid; border-color:#6C8DC3; border-width:1px;
}

.letraDisplay { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 11px;
	color:#336699;
	font-weight:normal;
	border: thin none;
	font-style: normal;
}



.letraDisplayII { 
	font-family: "NP Naipol All in One", "Niagara Engraved";
	font-size: 18px; 
	color:#336699;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}
.letraDisplayIII { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 9px;
	color:#336699;
	border: thin none;
	font-style: normal;
}

.letraDisplayIV { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 11px;
	color:#FFFFFF;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}

.letraDisplayV {
	font-family: "NP Naipol All in One", "Niagara Engraved";
	font-size: 20px;
	color:#003366;
	font-weight: bold;
	border: thin none;
	font-style: normal;
}


/* Estilo HYP para el resto de hipervinculos */
a.hypgrl { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
    font-size: 12px;
	font-weight: bold;
	color: #FFFFCC ;
	text-decoration:none; 
}

a:visited.hypgrl { 
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
    font-size: 10px;
	font-weight: bold;
	color: #FFFFCC ;
	text-decoration:none; 
}
a:hover.hypgrl {
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
	color:#FFFFCC;
}
/* Estilo HYP para las Grids (Tablas) */
a.hypgrid { 
	font-family: "Tahoma", sans-serif, Helvatica, "Times New Roman";
    font-size: 11px;
	font-weight: bold;
	color:#000000;
	text-decoration:none; 
}
a:visited.hypgrid { 
	font-family: "Tahoma", sans-serif, Helvatica, "Times New Roman";
    font-size: 11px;
	font-weight: bold;
	color:#000000;
	text-decoration:none; 
}
a:hover.hypgrid {
	font-family: "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color:#003399;
}
/* Estilo HYP para los botones de comandos */
a.hypbtn { 
	font-family: "Tahoma", sans-serif, Helvatica, "Times New Roman";
    font-size: 12px;
	font-weight: bold;
	color:#336699;
	text-decoration:none; 
}
a:visited.hypbtn { 
	font-family: "Tahoma", sans-serif, Helvatica, "Times New Roman";
    font-size: 10px;
	font-weight: bold;
	color:#336699;
	text-decoration:none; 
}
a:hover.hypbtn {
	font-family: "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
	color:#336699;
}
body {
	scrollbar-face-color:#FFFFFF; 
	scrollbar-highlight-color:#efefef; 
	scrollbar-shadow-color:#efefef; 
	scrollbar-3dlight-color:#efefef; 
	scrollbar-arrow-color:#000000; 
	scrollbar-track-color:#efefef; 
	scrollbar-darkshadow-color:#efefef;
}
.classImg{
  filter: alpha(opacity=50);
  moz-opacity: 0.5;
}
.drag{
  position:relative;cursor:hand
}
.tablas {
  border: 1px solid #000000;
 	/*background-color:#336699;*/
}
.layercss{
  /*#FFFFCC - #FF9933 - #3399CC*/
  position:absolute; 
  left:0px;
  top:0px;
  width:250px;
  z-index:50;
  background-color:#FFFFCC;
  border: 1px inset #000000;
  visibility: hidden;
  filter: alpha(opacity=93);
}
.capaRight{
	border-right-width:thin;
	border-collapse:collapse;
	border-width:thin;
	clip:rect(auto, auto, auto, auto);
	empty-cells:hide;
}
.field{
background-color:#5F87B6;
font-family: Verdana, sans-serif; 
font-size: 12px; 
color:#FFFFFF; 
border: 1px #000000 solid; 
font-weight: bold;

}.letraDisplayInput {

	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman" !important;
	font-size: 12px;
	color:#336699;
	font-weight: normal;
	border:thin none groove;
	font-style: normal;
}
.normalito {
	FONT-SIZE: 10px; COLOR: #336699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.letraCaptionNegrita {
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 11px;
	color:#FFFFFF;
	border: thin none;
	font-style: normal;
	font-weight: bold;
}
input[type="button"].boton{
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 10pt !important;
	color: white;
	border: 1px #666 solid;
	background-color: #5F87B6;
	padding: 2px 4px;
	font-weight: normal;
}
input[type="button"].boton:disabled{
	color:#666; 
	background-color:#C7D1E9
}
.boton:hover{
	cursor:pointer;	
	<!--[if IE]>
	cursor:hand;
	<![endif]-->
}
input[type="button"].sombra{
	box-shadow: 0px 0px 1px #000000;
	-moz-box-shadow: 0px 0px 1px #000000;
	-webkit-box-shadow: 0px 0px 1px #000000;
}
select.ui-select-zs{
	padding:2px;
	font-family: Arial, Verdana, sans-serif !important;
	color:#369;
	border: 1px solid #858585;
	font-size:10px;
}
select.ui-select-zs:disabled{
	color:#444444;
	border: 1px solid #858585;
}
img.ui-datepicker-trigger{
	position:relative;
	top:3px;
	left:2px;
}

div#ui-toolbar-zs{
	position:relative;
}
div.toolbar-wrapper, div.toolbar-wrapper-modal{
	position:absolute;
	/*background-image:url(../../Imagenes/fondo_modal.png);*/
	top:auto;
	display:none;
	z-index: 500;
}
.toolbar-wrapper div.ui-loading-toolbar, div.toolbar-wrapper-modal div.ui-loading-toolbar{
	position:relative;
	z-index:inherit;
	text-align:center;
	color: white;
	font-size: 12pt;
	margin-top:6px;
	
}
.ui-loading-toolbar img.ui-loading{
	width:25px;
	height:25px;
	border:none;
	position: relative;
	top: 3px;
}
.ui-loading-toolbar span{
	position:relative;
	top:-4px;
}

img.ui-zs-loading-icon{
	width:14px;
	height:11px;
	position:relative;
	top:2px;
}
/**************************** Estilo para ventanas modal ************************************/
div.ui-widget-zs{
	z-index:5;
}
.ui-widget-zs .wrapper{
	display:block;
	margin:auto;
	border: solid 10px gray;
	border-radius: 12px;
	background-color: #E5EBEF;	
}
div.ui-widget-zs-content{
	text-align: center;
}
div.ui-zs-modal{	
	top: 0px;
	left:0px;
	background-image:url(../../Imagenes/fondo_modal.png);
	/*background-image:*/
}
div.zs-toolbar{
	background-color: #BFCDDD;
	background-image: url(../../ImagenesZeus/Simbolo_Zeus.png);
	background-repeat: no-repeat;
	background-position: 3px center;
	text-align: left;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 6px;
	padding-left: 42px;
	position:relative;
}
div.zs-toolbar-loading{
	background-image: url(../../ImagenesZeus/Simbolo_Zeus_Loading.gif);
	background-repeat: no-repeat;
	background-position: 3px center;
}
div.zs-toolbar img.icon{
	float:right;
	position:relative;
	bottom:5px;
	cursor:pointer;
}
div.ui-overflow-data-table{
	overflow:auto;
	max-height:280px;
	border:1px solid #858585;
	margin:auto;
	/* IE 
	height: expression(this.scrollHeight > :280? ':280px': 'auto');*/
}

.zs-toolbar span.titulo{
	color: #345B89;
	font-family: Arial;
	font-size: 15pt;
	text-decoration: none;
	text-transform: capitalize;
}
table.ui-zs-datatable{
	margin: auto;
	text-align: left;
	width:100%;
	/*min-width:600px;*/
}
table.ui-zs-datatable div.datatable-title{
	color: #345B89;
	background-color: #BFCDDD;
	text-align: center;
	text-transform: capitalize;
	font-size: 13pt;
}
.ui-zs-datatable .head{
	background-image:url(../../Imagenes/bgtop.gif)
}
.ui-zs-datatable th{
	padding:3px;
	text-align:left;
	text-transform:capitalize;
}
.ui-zs-datatable td{
	padding:3px;
	text-align:left;
}
.ui-zs-datatable .body{}
table.ui-zs-datatable tbody tr._mouse-over:hover{
	background-color:#BFCDDD
}
.ui-zs-datatable tr.row-par{
	background-color:white;
}
.ui-zs-datatable tr.row-impar{
	background-color:#CFDAEB;
}
.ui-widget-zs-content div.zs-body{
	/*padding-top:4px;*/
}
/**************************************************************************************/

/*************************** Estilo Barra de Progreso **********************************/
div.progressbar{
	background-color:#FFF;
	border:solid 1px #858585;
	overflow:hidden;
}
div.progressbar div.progress-value{
	background-color:#FF0000;
	height:100%;
}
.disponible:hover{
	color:#7C6E6E;
	background-color:#BFCDDD;	
	cursor:pointer;
	
}

.seleccionado{
	color:#7C6E6E;
	background-color:#ABDE7E;	
}


.borderSel{
	border:dashed; 
	border-color:#22432B;
	border-width:1px;
}

.borderSelTraslado{
	border:dashed !important; 
	border-color:#22432B !important;
	border-width:1px !important;
	background-color:#BED3E1 !important;
}
/************************************ Estilo Loading para Autocompletado *******************************/
/*.ui-autocomplete-loading { background: white url('../../Imagenes/loading.gif') right center no-repeat; }*/

/*************************************** Estilo Loading Ajax *****************************************/
div.ui-ajax-request-loading{
	padding: 8px;
	background-image: url('../../Imagenes/loading.gif');
	background-repeat: no-repeat;
	background-position: 4% center;
	display: inline-block;
	text-transform: capitalize;
	font-size: 11px;
	background-color: lightYellow;
	padding-left: 24px;
	color: #345B89;
	border: solid 1px #345B89;
	position: fixed;
	bottom: 20px;
	left: 1%;
	display: none;
	z-index:1000;
}

.citaApartar{
	background-color:#B5D699;
	border:solid;
	border-color:#74B33E;
	border-width:2px;
	color:#324435;
}
.citaApartarError{
	background-color:#EE6262;
	border:solid;
	border-color:#930;
	border-width:2px;
	color:#FFF;
}

.marcoDesplegar{
	background-color:#BFCDDD;
	border:solid;
	border-width:1px;
	border-color:#7291C5;
	border-right:none;
	border-top:none;
	border-bottom:none;
}
.marcoDesplegar:hover{
	background-color:#A4B8D9;
}
div.ui-zs-error-info{
	border: solid 2px #930;
	padding: 4px;
	background-color: #EE6262;
	color:#FFF;
}
div.ui-zs-success{
	border: solid 2px #74B33E;
	color: #345B89;
	background-color:#B5D699;
	padding: 4px;
	text-transform: uppercase;
}
div.ui-zs-head_general_info{
	background-color:#BFCDDD;
	border:solid 1px #355B89;
	color:#355B89;
	padding:6px;
	margin:1px;
	position:relative;
}
span.separador{
	padding:0px 8px;
}

.busqueda{ 
 padding: 2px 25px 2px 5px;
 background: url("../../Imagenes/iconos.gif") no-repeat scroll 0 0 #FFF;
background-position: 100% 1px; }

/***************************** Clear float ****************************/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/**************************** Estilos error parse JSON ************************************/
div.parse_json-container{
	border: solid 2px red;
	/*width: 40%;*/
	padding: 2px;
	margin-bottom: 6px;
	margin-left: 6px;
	position: fixed;
	top: 0px;
	left: auto;
	background-color: white;
	z-index:1200;
	display:none;
}
div.parse_json-container div{
	color:#F00;
}
div.parse_json-container div.titulo{
	border-bottom: 1px solid #000;
	margin-bottom: 1px;
	font-size:11pt !important;
}
div.parse_json-container div.parse_json-content{
	max-height:160px;
	overflow:auto;
}
div.DataTablePopupTitle{
	background-image:url(../../ImagenesZeus/Simbolo_Zeus_16x16.png);
	background-repeat: no-repeat;
	background-position: 4px 50%;	
	padding-left: 24px;
}

.requerido{
	border:solid;
	border-color:#F00;
	border-width:1px;
}

.intercalarColorTab tr:nth-child(odd) {
   background-color: #DDD;
   color:#777
}

.intercalarColorTab tr:nth-child(even) {
   background-color: #FFF;
   color:#FFF;
}

.intercalarColorDisponibilidad tr:nth-child(odd) {
  /* background-color: #DDD;*/
   color:#777
}

.intercalarColorDisponibilidad tr:nth-child(even) {
   background-color: #FFF;
   color:#FFF;
}

.intercalarColorDisponibilidad div:hover{
	outline:dashed;
	outline-width:1px;
	outline-color:#7291C5;
	
	/*background-color:#C8D8DB;*/
}

.divReferencias{
	border: 1px solid rgb(51, 102, 153); 
	float: left; 
	margin: 2px; 
	padding: 2px; 
	background-color: rgb(255, 255, 255);
	font-weight:bold;
}

.ColorFondoSistema{
	/*background-color:#FFF;*/
}

.citaGrupal{
	background-color:#879AA4;
}

.citaGrupal:hover{
	background-color:#BBC5CB;
	cursor:pointer;
}
.ajax-request-loading-modal{
	position:fixed;
	top:0px;
	left:0px;
}

/*******************************************************/
/*******************************************************/
#ttabs_wrapper_PA {
	width: 100%;
}
#ttabs_container_PA {
	border-bottom: 1px solid #ccc;
    font-size: 14;
}
#ttabs_PA {
	list-style: none;
	padding: 5px 642px 4px 0;
	margin: 0 0 0 10px;
	font: 0.75em arial;
}
#ttabs_PA li {
	display: inline;
	font-size: 12px;
}
#ttabs_PA li a {
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	background-color: #B8CAEA;
	border-bottom: none;
	outline: none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#ttabs_PA li a:hover {
	background-color: #8EA7D1;
	padding: 4px 6px;
}
#ttabs_PA li.tactive a {
	border-bottom: 1px solid #fff;
	background-color: #6C8DC3;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
	color: white;
}
#ttabs_PA li.tactive a:hover {
	background-color: #8EA7D1;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
}

#ttabs_PA li a.ticon_accept {
	background-image: url(imagenes/estados/dental.png);
	background-position: 5px;
	background-repeat: no-repeat;
	padding-left: 24px;
}
#ttabs_PA li a.icon_accept:hover {
	padding-left: 24px;
}

#ttabs_content_container_PA {
	/*border: 1px solid #ccc;*/
	border-top: none;
	padding: 10px;
	width: 100%;
}
.ttab_content_PA {
	display: none;
}

.divSalaChatPA{
	background-color:#B2E2C8;
	border:dashed;
	border-color:#006;
	border-width:1px;
	margin:1px;
	border-color:#6C8DC3;
	color:#336699;
	font-weight:bold;
}

.divSalaChatPA:hover{
	border:solid;
	border-color:#069;
	border-width:1px;
	cursor:pointer;
}

.divSalaChatPA table tr td{
	font-weight:bold;
}

.divUserChatPA{
	background-color:#FFF;
	border:solid;
	border-color:#006;
	border-width:1px;
	margin:1px;
	border-color:#6C8DC3;
	color:#336699;
}

.divUserChatPA:hover{
	background-color:#CCC;
	cursor:pointer;
}



.letraDisplay {
    font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
    font-size: 11px;
    color: #336699;
    font-weight: normal;
    border: thin none;
    font-style: normal;
}

/******************* PANEL ADMINISTRATIVO *****************************/
.cssContentChat{
	width:100%;
	min-height:100%;
	max-height:100px;
	background-Color: #FFF;
	border:solid;
	border-width:1px;
	border-color:#6C8DC3;
	overflow:auto;
}

.cssUserChat{
	width:135px;
	height:200px;
	background-color: #FFF;
	border:solid;
	border-width:1px;
	border-color:#6C8DC3;
	overflow:auto;
}

.cssSalasChat{
	width:135px;
	height:80px;
	background-color: #FFF;
	border:solid;
	border-width:1px;
	border-color:#6C8DC3;
	overflow:auto;
}
.cssMessageTxt{
	width:100%;
	height:50px;
	background-color: #FFF;
	border:solid;
	border-width:1px;
	border-color:#6C8DC3;
}

.norm {
    FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif;
}

.DivCabeceraChat{
	border:solid;
	background-color:#FFF;
	border-width:1px;
	border-color:#6C8DC3;
	width:150px;
	float:left;
	margin:2px;
	height:30px !important;
}

.DivCabeceraChatSelected{
	background-color:#BCCBE3;
}
.DivCabeceraChat:hover{
	background-color:#BCCBE3;
	cursor:pointer;
}


.alertaMsjRecibido{
background-color: #FFCC6A;
animation: alertaMsj 1s;
-webkit-animation: alertaMsj 1s;
-moz-animation: alertaMsj 1s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
}


@keyframes alertaMsj { 
0% {background-color: white}
100%{background-color: #FFCC6A} 
}

@-webkit-keyframes alertaMsj { 
0% {background-color: white}
100%{background-color: #FFCC6A} 
}


.MsgChatEnviado{
    width: 100%;
	min-height:40px;
	cursor:pointer;
}

.MsgChatEnviado span{
	float: left;
    border: solid;
    border-color: #7690BA;
    background-color: #E5EBEF;
    min-height: 30px;
    border-width: 1px;
    margin: 4px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
 	-moz-border-radius: 5px 10px;     /* Firefox */
}

.MsgChatEnviadoSala{
    width: 100%;
	min-height:20px;
	cursor:pointer;
}

.MsgChatEnviadoSala span{
    border-color: #7690BA;
    background-color: #E5EBEF;
    min-height: 20px;
    border-width: 1px;
    margin: 2px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
 	-moz-border-radius: 5px 10px;     /* Firefox */
}

.nomUsuarioEmisor{
	color:#9A9005;
}

.MsgChatRecibido{
	width:100%;
	min-height:40px;
	cursor:pointer;
}

.MsgChatRecibido span{
	border: solid;
    border-color: #6C8DC3;
    background-color: #B3C4E0;
    float: right;
    min-height: 30px;
    border-width: 1px;	
	margin: 4px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
    -moz-border-radius: 5px 10px;     /* Firefox */
}


.iconWrite{
	display:none;
}


.alertaMsjRecibidoGreen{
background-color: #73A354;
animation: alertaMsj 1s;
-webkit-animation: alertaMsjGreen 1s;
-moz-animation: alertaMsj 1s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
color:#73A354 !important;
}


@keyframes alertaMsjGreen { 
0% {background-color: white}
100%{background-color: #73A354} 
}

@-webkit-keyframes alertaMsjGreen { 
0% {background-color: white}
100%{background-color: #73A354} 
}

.link{
	font-weight:bold;
}

.linkCA{
	color:#039;
	font-weight:bold;
	cursor:pointer;
	font-size:14px;
}

.linkCANM{
	color:#039;
	cursor:pointer;
	font-size:14px;
}

.MsjLeido span{
	background-color:#A2F9A5 !important;
}

.DivPuntoAtencion{
	background-color: #FFF;
    border: solid;
    border-width: 1px;
    border-color: #5C70AF;
    margin: 2px;	
}
.DivPuntoAtencion:hover{
	background-color: #BFCDDD;
	cursor:pointer;
}

.linkCerrarSesion{
	color:#FFF !important;
	font-weight:bold !important;
	text-decoration: none !important;
}

.linkCerrarSesion:hover{
	color:#EDEBEB !important;
}

.separador-appinfo{
	text-align:center;
	padding:4px;
	background-color:#6C8DC3;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#355C6E;
}

div#zs-contenedor-appinfo{
	/*display:none;*/
	height:57px;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#355C6E;
}

.piePaginaCss{
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #355C6E;	
	background-color:#6589BD;
}

.IconModulo{
	width: 260px;
    outline: solid;
    outline-width: 1px;
    outline-color: #355C6E;
}
.IconModulo:hover{
	background-color:#98B0D3;
	cursor:pointer;
}

.tdIconModulo:hover{
	background-color:#98B0D3;
	cursor:pointer;
}

.IconModuloActive{
	background-color:#98B0D3;
}

#div_ModalModule{
	position:fixed;
	width:400px;
	bottom:20px;
	right:0px;
	background-color:#FFF;
	border:solid;
	border-width:1px;
	border-color:#355C6E;
	display:none;
}

#div_ModalModule2{
	width:400px;
	bottom:20px;
	right:0px;
	background-color:#FFF;
	border:solid;
	border-width:1px;
	border-color:#355C6E;
	overflow:auto;
}

.DivItemModulo{
	border:solid;
	border-width:1px;
	border-color:#355C6E;
	margin:2px;
}

.DivItemModulo:hover{
	border:dashed;
	border-width:1px;
	cursor:pointer;	
	border-color:#355C6E;
}




/* ON / OFF*/

.onoffswitch {
    position: relative; width: 51px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 5px;
    background-color: #9AC872; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: -2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 33px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.w100p {
	width: 100%;
}

/********* Estilos busqueda de procedimientos Ordenes externas / Intrahospitalarias *************/
th.dato {
	border-right: 2px solid #FFF;
	border-top: 2px solid #FFF;
	border-left: 0px;
	border-bottom: 0px;
	color: #336699;
	background-color: #BFCDDD;
}

td.dato {
	border-right: 2px solid #FFF;
	border-top: 2px solid #FFF;
	border-left: 0px;
	border-bottom: 0px;
	color: #315C7C;
}

datoHover:hover{
	background-color:#D1DBE6;
	cursor:pointer;
}

div.contenedor {
	width: 100%;
}

div.cuerpo {
	height: 160px;
	overflow: auto;
	border-bottom: 2px solid #FFF;
	border-right: 2px solid #FFF;
}

.intercalarColorTablaFind tr:nth-child(odd) {
   background-color: #EFEFEF;
   color:#777
}

.intercalarColorTablaFind tr:nth-child(odd):hover {
   background-color: #D1DBE6;
   cursor:pointer;
}

.intercalarColorTablaFind tr:nth-child(even) {
   background-color: #FFF;
   color:#FFF;
}

.intercalarColorTablaFind tr:nth-child(even):hover {
   background-color: #D1DBE6;
   cursor:pointer;
}

.selectedTrAncla{
	background-color:#C0DBA7 !important;
}

/***********/
/***********/





th.dato {
    border-right: 2px solid #FFF;
    border-top: 2px solid #FFF;
    border-left: 0px;
    border-bottom: 0px;
    color: #336699;
    background-color: #BFCDDD;
}

td.dato {
    border-right: 2px solid #FFF;
    border-top: 2px solid #FFF;
    border-left: 0px;
    border-bottom: 0px;
    color: #315C7C;
}

datoHover:hover{
    background-color:#D1DBE6;
    cursor:pointer;
}

div.contenedor {
    width: 100%;
}

div.cuerpo {
    height: 160px;
    overflow: auto;
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
}

.intercalarColorTablaFind tr:nth-child(odd) {
   background-color: #EFEFEF;
   color:#777
}

.intercalarColorTablaFind tr:nth-child(odd):hover {
   background-color: #D1DBE6;
   cursor:pointer;
}

.intercalarColorTablaFind tr:nth-child(even) {
   background-color: #FFF;
   color:#FFF;
}

.intercalarColorTablaFind tr:nth-child(even):hover {
   background-color: #D1DBE6;
   cursor:pointer;
}

.selectedTrAncla{
    background-color:#C0DBA7 !important;
}
