.ContenedorBox {
	margin: 0 auto;
    /* width: 1170px; */
    padding-left: 0;
    font-size: 0;
    DISPLAY: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ItemBox {
	display: inline-block;
	font-size: 18px;                 /* restore font size removed in container */
	list-style-type: none;
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin: 15px 25px;
	box-sizing: border-box;
	text-align: center;
}

.ItemBox:hover {
	border:dashed;
	border-width:1px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-color:#355C6E;
	cursor:pointer;
}

/*@media screen and (max-width: 430px) { .ContenedorBox { width: 291px; } }
@media screen and (min-width: 431px) and (max-width: 630px) { .ContenedorBox { width: 270px; } }
@media screen and (min-width: 631px) and (max-width: 830px) { .ContenedorBox { width:600px;  } }
@media screen and (min-width: 831px) and (max-width: 1030px) { .ContenedorBox { width: 585px; } }
@media screen and (min-width: 1031px) and (max-width: 1230px) { .ContenedorBox { width: 888px; } }*/