/* CSS Document */
body{
	margin:0;
	padding:0;
	font-size:10px;
}

.fontoBar{
	background-color:#E5EBEF;
}

.title{
	color:#345B89;
	font-size:2em;
}

.letraDisplay {
	font-family: Arial, "Tahoma", sans-serif, Helvatica, "Times New Roman";
	font-size: 0.9em;
	color: #336699;
	font-weight: normal;
	border: thin none;
	font-style: normal;
}

.start{
	color:#900;
	font-size:1.5em;
}

.norm {
	FONT-SIZE: 0.9em;
	COLOR: #666666;
	FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif;
}

.requerido{
	border:solid;
	border-width:1px;
	border-color:#F00;
}

.bold{
	font-weight:bold;
}

.bgTitulo{
	background-color:#6C8DC3;
	font-size:1em;
	color:#FFF;
	height:20px;
}

.separador{
	background-color:#B6C6E1;
	font-size:5px;
	color:#FFF;
	height:5px;
}

/**********************************/
ul.tabs { margin: 0; padding: 0; float: left; list-style: none; height: 32px; /*--Define el ancho de las tabs--*/ border-bottom: 1px solid #999; border-left: 1px solid #999; width: 100%; } ul.tabs li { float: left; margin: 0; padding: 0; height: 31px; /*--Sustrae 1px de la altura de la lista desordenada--*/ line-height: 31px; /*--Alineamiento vertical del texto dentro de la tabla--*/ border: 1px solid #999; border-left: none; margin-bottom: -1px; /*--Desplaza los item de la lista abajo 1px--*/ overflow: hidden; position: relative; background: #e0e0e0; } 
ul.tabs li a { 
	color:#336699;
	text-decoration: none;
	display: block; 
	font-size: 1em; 
	padding: 0 20px; 
	border: 1px solid #fff; 
	outline: none; 
} ul.tabs li a:hover { 
	background: #ccc; 
} html ul.tabs li.active, html ul.tabs li.active a:hover { 
	background: #fff; border-bottom: 1px solid #fff; 
} 

.tab_container { 
	border: 1px solid #999; 
	border-top: none; 
	overflow: hidden; 
	clear: both; 
	float: left; 
	width: 100%; 
	background: #fff; 
} 
.tab_content { 
	padding: 20px; 
	font-size: 1em; 
	max-height:565px;
	overflow:auto;
} 


/***********************************************/

.disponible:hover{
	color:#7C6E6E;
	background-color:#C3E7A4;	
	cursor:pointer;
	
}
.disponible{
	background-color:#E7EBEF;
}

.borderTab{
	border:solid;
	border-width:1px;
	border-color:#6C8DC3;
}

.inputDate{
	width:120px; 
	background-color:transparent; 
	border-width:0px;
	color:#336699;
	font-weight:bold;
	font-size:22px;
}