/* CSS Document */
div.contenedor{
	text-align:center;	
	padding: 0px 8px;
}
form{margin:0px;}
div.contenido{
	text-align:left;
	margin:auto;
	padding:2px;
	margin-top:19px;
	border: #858585 1px solid;
}
div.contenido fieldset{
	text-align:left;
	border: solid 1px grey;
	margin:2px;
	padding:4px;
}
div.contenido fieldset legend{
	font-size:13px;
	/*font-weight:bold;*/
	text-transform:capitalize;
	border:none !important;
}
div.toolbar{
	height:44px;
	overflow:hidden
}
div.toolbar table{
	width:100%;
	height:inherit !important;
}
div.cnt-uploader{
	margin: 4px 0px;
	text-align: center;
	padding: 0px 18px;
}
div.cnt-uploader div.btn_subir{
	padding: 8px 14px;
	text-align: center;
	text-transform: capitalize;
	margin: auto;
	background-image: url(../../../Imagenes/bgtop.gif);
	cursor: pointer;
	border-radius:2px;
	color:white;
	font-weight: bold;
	box-shadow: 1px 1px 1px #666;
}
div.update-status{
	text-align:center;
	text-transform:uppercase;
	font-size:12px;
	padding:4px;
	font-weight:bold;
	clear:both;
}
div.cnt-next-back{
	position:relative;
	padding-top:4px;
	padding-left:30px;
	padding-right:30px;
}
div.sidebar-wrapper{
	overflow:auto;	
	position:relative;
	top:1px;
	z-index:1000;
}
ul.ingresos-list{
	padding:0px;
	margin:0px;
	list-style:none;
	list-style-position:inside;
}
ul.ingresos-list li.ingreso-tab{
	float: left;
	padding: 6px 10px;
	font-size: 12px;
	cursor:pointer;
	margin-left:3px;
	background-color:#355B89;
	color:#FFFFFF;		
}
li.ingreso-tab span.total-archivos{
	margin-left:6px;
}
ul.ingresos-list li.selected{
	color:#355B89;
	background-color: #BFCDDD;
	border-left: solid 1px #355B89;
	border-right: solid 1px #355B89;
	border-top: solid 1px #355B89;
}
li.ingreso-tab:hover{
	color:#FFFFFF;
}
div.cnt-form label{
	text-transform:capitalize;
}
div.cnt-tab-ing{
 	clear:both;
	overflow:auto !important;
	border:solid 1px #355B89;
	margin-bottom: 4px;
	padding: 2px;
	background-color:#BFCDDD;
	display:none;
	z-index:inherit;
	text-align:center;
}
div.cnt-tab-ing p.loading-text{
	text-align:left;
	font-size:12px;
	font-weight:bold;
	margin:3px 10px;
}
div.cnt-tab-ing div.capa{
	overflow:auto !important;
	background-color:transparent;
	margin:auto;
}
div.capa span{
	background-color:transparent;
}
div.cnt-tab-ing div{
	text-align:left;
}
div.cnt-tab-ing div.cnt-file{
	float:left;
	margin: 2px 6px;
	border:solid 1px #006699;
	border-radius:3px;
	width:186px;
	height:142px;	
}
div.cnt-file-ie{
	
}
div.cnt-tab-ing div.cnt-file div.file{
	margin:4px;
	border:solid 1px grey;
}
div.cnt-tab-ing div.cnt-file div.content{
	padding:2px;
	background-color:#FFFFFF;	
	text-align:center;
}
div.content div.screen-content{
	width:180px;
	height:135px;
	overflow:hidden;
}
div.content img{
	width:180px;
	height:auto;
	margin:auto;
}
div.cnt-file img.guardar-desc{
	width: 15px;
	height: 15px;
	position: relative;
	top: 3px;
	cursor:pointer;
}
div.cnt-tab-ing div.cnt-file label.descripcion{
	display:block;
	width: 140px;
	height:14px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform:uppercase;
	border:none !important;
}
div.info-file{
	/*display:block;
	overflow:visible;*/
	clear:both;
	padding:0px 2px;
	width:100%;	
}
div.info-file div.label-file{
	float:left;
	/*
	top:-3px;*/
}
div.label-file div.edit-btn{
	position:absolute;
	top:auto;
	right:16px;
}
div.info-file div.icons-tool{
	float:right;
}
/*div.label-file div.edit-desc{
	display:none;
}*/
div.icons-tool{
	/*margin-top:3px;*/
}
div.icons-tool img{
	margin-left:4px;
	border:none;
	cursor:pointer;
}

